<div class='footer lato-light text-center'>
<div class='container'>
    &copy; {{ site.time | date: '%Y' }} <a href="http://www.twitter.com/{{ site.social.twitter }}">@{{ site.social.twitter }}</a>.

    <p></p>

    <p>
        <a href="https://www.facebook.com/seane" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a> 
        <a href="https://twitter.com/seanoliver/" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a> 
        <a href="http://www.linkedin.com/in/soliver87" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a> 
        <a href="https://www.google.com/+SeanOliverIsHere?rel=author" target="_blank"><i class="fa fa-google-plus-square fa-lg"></i></a> 
        <a href="https://github.com/seanoliver" target="_blank"><i class="fa fa-github-square fa-lg"></i></a> 
        <a href="http://instagram.com/soliver87" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
    </p>
</div>
</div>